<div class="container">
  <div class="row">
    <section class="discussions">
      <div class="discussion search">
        <div class="searchbar">
          <mat-icon style="color:#1d3140; font-weight: 700; font-size: 24px;">search</mat-icon>
          <input class='searchInput' type="text" placeholder="Search..." [value]="searchInput"
            (keyup)="SearchMessage($event)">
        </div>
      </div>
      <div class="discussion" [ngClass]="{'message-active':selectedMess=== collaborator.collaborator._id}"
        *ngFor="let collaborator of collaborators"
        (click)="selectRoom(collaborator.collaborator._id,collaborator.collaborator.Firstname,collaborator.collaborator.Lastname,collaborator.collaborator.email)">
        <div class="photo" style="background-image: url(/assets/img/{{collaborator.collaborator.Image}});">
        </div>
        <div class="desc-contact">
          <p class="name">{{collaborator.collaborator.Firstname + ' '+ collaborator.collaborator.Lastname }}</p>
          <p class="message">{{collaborator.lastMessage}}</p>
        </div>
      </div>
    </section>
    <section class="chat">
      <div class="header-chat">
        <mat-icon class="icon" *ngIf="messageLoaded">person</mat-icon>
        <p class="name">{{selectedColab}}</p>
      </div>
      <div class="messages-chat" *ngIf="messageLoaded">
        <div class="message" *ngFor="let message of activeRoom.messages">
          <div [ngClass]="{'response':message.sender === user_id}">
            <p class="text">{{message.messageBody}}</p>
          </div>
        </div>
      </div>
      <div class="footer-chat" *ngIf="messageLoaded">
        <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
          <mat-form-field appearance="outline" class="col-md-10 message-field">
            <mat-label>Enter your message</mat-label>
            <textarea matInput placeholder="Hey there!!" formControlName="message" cdkTextareaAutosize
              #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5">
          </textarea>
            <mat-icon matPrefix>mood</mat-icon>
            <mat-error *ngIf=""></mat-error>
          </mat-form-field>
          <button mat-mini-fab color="primary" style="color: white; margin-top: 10px;" type="submit" [disabled]="!messageForm.value.message">
            <mat-icon class="sendBtn">send</mat-icon>
          </button>
        </form>
      </div>
    </section>
  </div>
</div>
