#logoimg {
  max-width: 500px;
}

.logo {
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
}

#ellipse {
  max-width: 20%;
  position: fixed;
  top: 4%;
  left: 20%;
  opacity: 0.5;
}

.logoDesign {
  display: flex;
  position: absolute;
  width: 150px;
  top: 0;
  left: 0;
}

h3 {
  font-size: 65px;
  font-weight: 800;
}

h6 {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: DDA82A;
  font-weight: normal;
}

.success {
  background-color: #4070f4 !important;
  color: #fff;
}

.logo-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20%;
}

.form {
  border: 2px rgb(119, 118, 118) solid;
  border-radius: 10px;
  box-shadow: rgb(143, 143, 143);
  padding: 20px;
  background-color: #0f1233;
  margin-left: 5%;
  margin-right: 5%;
  width: 37rem;
}

.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}
.container {
  padding-bottom: 20px;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 32px;
  background-color: #ffa726;
  border-radius: 25px;
}

mat-horizontal-stepper {
  background-color: #0f1233;
  width: 100%;
  margin-top: 20px;
}

mat-form-field {
  display: block;
  width: 100%;
}

form {
  margin-top: 20px;
}

@media (max-width: 1100px) {
  .logo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
  }

  .mat-horizontal-content-container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .form {
    border: 2px rgb(119, 118, 118) solid;
    border-radius: 10px;
    box-shadow: rgb(143, 143, 143);
    padding: 10px;
    background-color: #0f1233;
    margin-left: 5%;
    margin-right: 5%;
    width: 450px;
  }

  #ellipse {
    max-width: 20%;
    position: fixed;
    top: 4%;
    left: 20%;
    opacity: 0.5;
  }
  #logoimg {
    max-width: 300px;
  }
  h3 {
    font-size: 30px;
    font-weight: 800;
  }

  h6 {
    font-size: 10px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: DDA82A;
    font-weight: normal;
  }
}
@media (max-width: 600px) {
  .form {
    border: 2px rgb(119, 118, 118) solid;
    border-radius: 10px;
    box-shadow: rgb(143, 143, 143);
    padding: 10px;
    background-color: #0f1233;
    margin-left: 5%;
    margin-right: 5%;
    width: 320px;
  }
}

.login-signup {
  margin-top: 20px;
  text-align: center;
}
.erroMessage {
  color: #d84315;
  text-align: center;
  margin-top: 5px;
}
